
    .ForgotPasswordBackgroundImage {
        background-image: url('/assets/forgot.jpg');
        height: 100vh;
        background-repeat: no-repeat;
    }
    .ForgotPasswordForm {
        padding-left: 800px;
        padding-top: 200px;
    }
    .EmailInput {
        width: 350px;
        height: 40px;
        border-radius: 15px;
        border-style: solid;
        box-shadow: 10px 5px 20px cornflowerblue;
    }
    .ResetEmailHeader {
        font-size: 30px;
    }
    .ResetDescription {
        font-size: 16px;
    }
    .btn {
        width: 300px;
        height: 40px;
        font-weight: bold;
        border-radius: 15px;
    }
    .BackLoginBtn {
        background-color: aliceblue;
        color: cornflowerblue
    }
    .btnContainer {
        padding-left: 30px;
    }
    
