body {
    background: #F5F5F5;
}
.login-box {
    background: url(https://i.imgur.com/73BxBuI.png);
    background-size: cover;
    background-position: center;
    padding: 50px;
    margin: 50px auto;
    min-height: 700px;
    -webkit-box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
}
.logo {
    font-family: "Script MT";
    font-size: 54px;
    text-align: center;
    color: #888888;
    margin-bottom: 50px;
}
.logo .logo-font {
    color: #3BC3FF;
}
.login-form {
    max-width: 300px;
    margin: 0 auto;
}
.login-form .btn {
    border-radius: 0;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.ResetEmailHeader {
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: Sans-serif;
}
.ResetDescription {
    font-size: 16px;
    color: black;
    font-family: Sans-serif;
}