.reset {
    font-weight: bold;
}

.success_para {
    background-color: lightgreen;
    height: 100px;
    text-align: center;
    width: 70%;
}

.text {
    padding-top: 35px;
    font-weight: bold;
    color: white;
}